#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PROXIFYRE_VERSION_NUMERIC
 PRODUCTVERSION PROXIFYRE_VERSION_NUMERIC
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "NT KERNEL\0"
      VALUE "FileDescription", "ProxiFyre SOCKS routing bridge\0"
      VALUE "FileVersion", PROXIFYRE_VERSION_STRING "\0"
      VALUE "InternalName", "socksify\0"
      VALUE "OriginalFilename", "socksify.dll\0"
      VALUE "ProductName", "ProxiFyre\0"
      VALUE "ProductVersion", PROXIFYRE_VERSION_STRING "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
