*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.cache
*.user
*.dll
*.metagen
*.pdb
*.obj
*.res
*.recipe
*.log
*.pch
*.tlog
*.lastbuildstate
*.txt
/wiresock/Win32/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
/wiresock/Win32/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
/wiresock/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
/wiresock/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
*.ilk
*.exe
*.pcap
*.idb
*.iobj
*.ipdb
*.lib
*.config
*.p7s
*.nupkg
*._
*.xml
/wiresock_service/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/wiresock_service/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/wiresock_service/obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/wiresock_service/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/wiresock_service/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/wiresock_service/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ProxiFyre/bin
ProxiFyre/obj
.vs/
/packages/
