<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <!-- File target: always write to ProxiFyre.log, archive daily to Proxifre_yyyyMMdd.txt -->
    <target xsi:type="File" name="file"
            fileName="${basedir}/ProxiFyre.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${exception:format=ToString}"
            archiveFileName="${basedir}/Proxifre_${shortdate}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Optional console output -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${exception:format=ToString}" />
  </targets>

  <rules>
    <!-- If you don't want console, change writeTo="file,console" to writeTo="file" -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
