<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
	<package id="NLog" version="5.2.3" targetFramework="net472" />
	<package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
	<package id="Topshelf" version="4.3.0" targetFramework="net472" />
</packages>